/Engine/third_party/glad/gl-bindings/
/Engine/third_party/openal/build/
/Engine/third_party/bullet/build/
/Engine/third_party/rttr/build/
/Engine/third_party/assimp/build/
/Engine/third_party/glfw/build/

/Projects/Demo/bin/
/Projects/Demo/build/
/Projects/Demo/lib/
/Projects/Demo/user_data/

/Projects/Demo/source/Runtime/_generated/
/Projects/Demo/source/Editor/_generated/