*.sdf
/DemoVideo
ETEngine.VC.*
ETEngine.VC.VC.opendb
ETEngine.VC.db
/bin
/lib
*.ipch
*.db
build/.vs
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

/third_party/glad/gl-bindings/
/third_party/openal/build/
/third_party/bullet/build/
/third_party/rttr/build/
/third_party/assimp/build/
/third_party/glfw/build/

/build/x32
/build/x64

/source/Demo/_generated/

CMakeLists.txt.user
/build/CMakeCache.txt
build/**/
CMakeScripts
Makefile
/build/cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps